<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="mvctest.dao.UserMapper">  
    <resultMap type="User" id="User">  
           <!--   <id column="userId" jdbcType="VARCHAR" property="userId"/>  -->
            <result column="userId" jdbcType="VARCHAR" property="userId"/>
            <result column="username" jdbcType="VARCHAR" property="username" />  
            <result column="userpass" jdbcType="VARCHAR" property="userpass" />  
    </resultMap>  
  
    <insert id="insertUser" parameterType="User">  
        insert into user(username,userpass) values(#{username},#{userpass});  
    </insert>  
  	<!-- parameterType是传入参数数据类型类型，比如，此处传入的参数是username，显然是String,并且是由User对象传入的参数 -->
  	<!-- resultType :是查询结果返回值类型，此处是返回hashmap -->
  	<select id="selectUser" resultType="java.util.HashMap"  parameterType="String" >
  		select * from public.user where username=#{username};
  	</select>
  	
    <select id="selectTotalRecord" resultType="int">  
        select count(*) from user;  
    </select>  
  
</mapper>  